# IntelliJ IDEA files
# Ignore everything in the folder .idea except .idea/externalDependencies.xml
*.iml
*.iws
*.ipr
**/.idea/*.*
!**/.idea/externalDependencies.xml
!**/.idea/appium-java-android-real-device.iml
!**/.idea/modules/appium-java-android-real-device.test.iml

# IntelliJ IDEA files
# Ignore everything in the folder .idea except .idea/externalDependencies.xml
**/.vscode/*
!**/.vscode/extensions.json
!**/.vscode/settings.json

# Eclipse files
.classpath
.project
.settings/

# Environment files
.env
*.env

# Compiled class files
*.class

# Maven target directory
target/

# Gradle build directory
build/
out/
.gradle
**/.run/*
!**/.run/Template Cucumber Java.run.xml

# Log files
logs/
*.log
stdout

# Application properties (optional)
#src/main/resources/application.properties
#src/main/resources/application.yml

# Temporary files
*.tmp
*.swp
*~

# macOS specific files
.DS_Store

# Windows thumbnail cache files
Thumbs.db

# Gradle wrapper jar files
gradle/wrapper/gradle-wrapper.jar

# Node
node_modules/

# Scripting
.runRobot_last_run_options
